body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.left-nav {
    font-size: 20px;
}

.purchase {
    border: 2px;
}

.shoppingcart {
    font-size: 20px;
}

.shoppingcart td, .shoppingcart th {
    padding: 4px 15px;
}

.shoppingcart th {
    border-bottom: 2px solid black;
}

.shoppingcart tr:last-of-type {
    border-top: 2px solid black;
}